
#heading47 {
    color: green;
    font-size: 30px;
    
}
#heading47:hover {
    background-color: red ;
    border: 3px solid;
} 
canvas {
    border: 3px solid darkgreen;
       animation-name: firstanimation;
       animation-duration: 4s;
       animation-iteration-count: infinite;
   } 
#capture1 {
    background-color: lightseagreen;
    color: springgreen;

}
#capture1:hover {
    background-color: lightskyblue;
    border: 3px solid;
} 
@keyframes firstanimation {
    from{box-shadow: 5px 5px 20px salmon;}

    to{box-shadow: 5px 5px 20px darkturquoise;}
}
            